<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs')%>

    <div class="container new-container">
            <form action="" class="form new-form">
                <h3>Редактировать</h3>
                <fieldset class="fieldset">
                    <input type="text" placeholder="Введите заголовок блога" name="titleRus">
                </fieldset>
                <fieldset class="fieldset">
                    <select name="" id="">
                        <div class="select-categ"><option value="">Выберите категорию</option></div>
                        <% category.forEach(category => { %>
                            <div class="select-categ">
                                <option value=""><%=category.name%>
                            </div>
                        <% })%>
                    </select>
                </fieldset>
                <fieldset class="fieldset fieldset-file"><input type="file" class="custom-file-input" placeholder="Выберите картинку"></fieldset>
                <fieldset  class="fieldset">
                    <textarea class="new-text" name="" id="" cols="30" rows="10" placeholder="Введите описание блога"></textarea>
                </fieldset>
                <fieldset class="fieldset"><button type="submit">Сохранить</button></fieldset>
            </form>
    </div>
</body>
</html>