<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <div class="container">
        <h3>Страница не найдена</h3>
    </div>
    <script src="https://kit.fontawesome.com/0869a7851e.js" crossorigin="anonymous"></script>
</body>
</html>